---
import { getCollection } from "astro:content";
import ArticleNav from "../components/ArticleNav.astro";
import Footer from "../components/Footer.astro";
import Hamburger from "../components/Hamburger.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";
import ShareButtons from "../components/ShareButtons.astro";
import YA from "../components/YA.astro";

const { content } = Astro.props;
---
<!DOCTYPE html>
<html lang="ru">
  <Head />
  <body>
    <Header /> 
    <Hamburger /> 
    <Nav />
    <div class="blog">
      <article id="article">
        <slot />  
        <ShareButtons title={content.title} category={content.category} url={content.url} />
      </article>
      <ArticleNav/>
    </div>
    <Footer title={content.title} category={content.category} url={content.url}/>
  </body>
  <YA />
</html>
